.container {
  background-color: #E3ECF1;
}
.sidebar {
  z-index: 99;
  background-color: #E3ECF1;
  border-right: 4px solid #202020;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.4s ease;
  color: #202020;
  height: 100%;
}
.button {
  position:relative;  
  left: 330px; 
  top: 10px;
  width: 80px;
  height: 80px;
  z-index: 100;
  transition: transform 0.8s ease;
  border: 2px solid #202020;
  border-radius: 40px;
  overflow: hidden;
  background-color: yellow;
  margin-top: 100px;
  
}

// 이미지
.openBtn {
  width: 50%;
  height: 50%;

}
.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}
// .icon {
//   margin: 0;
//   color: #202020;
// }