@use './color' as *;
@use './font' as *;

@forward './color';
@forward './font';


// main.scss에서 전역 페이지의 css를 설정 해둠
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;

}